<h1> Sup </h1> 
<%= image_tag @user.image.url %>

<%= @user.first_name%> 
<%= @user.last_name%>
</br>
<%=@user.inspect %> 
<h2>Events Created</h2> 
<% @user.events.each do |event| %> 
    <%= event.name %> &nbsp;&nbsp;
    <%= event.location %>
    </br>
<% end %> 
</br>
<h2>Events Attending</h2> 
<% @user.events_attending.each do |event| %>
    <%=event.name %> &nbsp;&nbsp;
    <%=event.location %> 
    </br> 
<% end %> 

