

<div class="userContainer"> 
<p> 
  <%= image_tag @user.image.url(:med)%>
<p>


<%= @user.first_name%>
<%= @user.last_name%>


<h4>Events Created</h4> 
<ul class="flex-3-cols">
    <% @user.events.each do |event| %>
      <li>
          <%= image_tag event.image.url(:med)%></br>
          <%= link_to event.name, event_path(event) %></br>
          <%= event.category %> </br> 
          <%= event.time.strftime('%A, %d %b %y')%>
      </li>
    <% end %> 
  </ul>
</br>
<h4>Events Attending</h4> 
<ul class="flex-3-cols">
    <% @user.events_attending.each do |event| %>
      <li>
          <%= image_tag event.image.url(:med)%></br>
          <%= link_to event.name, event_path(event) %></br>
          <%= event.category %> </br> 
      </li>
    <% end %> 
</ul>

</div> 
