

<div class="panel panel-default">
    <div class="panel-body">
        <%= @user.first_name%>
        <%= @user.last_name%>
    </div>
</div>

<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>




<h2>Events Created</h2> 
<% @user.events.each do |event| %> 
    <%= event.name %> &nbsp;&nbsp;
    <%= event.location %>
    </br>
<% end %> 
</br>
<h2>Events Attending</h2> 
<% @user.events_attending.each do |event| %>
    <%=event.name %> &nbsp;&nbsp;
    <%=event.location %> 
    </br> 
<% end %> 

