<div class="userInfo">
	<%= image_tag @user.image.url(:large), class: "eventShow"%>
	<div class="eventHead">
		<%=@user.first_name%><%=@user.last_name%>
	</div>
	<h4>Events Created</h4>
	<ul class="flex-3-cols">
		<%@user.events.each do |event| %>
			<li class="eventIndex"><%= image_tag event.image.url(:small), :class => "eventHome"%><br>
			<%= link_to event.name, event_path(event) %><br>
			<%= event.category %><br>
			<%= event.time.strftime('%A, %d %b %y')%></li>
		<%end %>
	</ul><br>
	<h4>Events Attending</h4>
	<ul class="flex-3-cols">
		<%@user.events_attending.each do |event| %>
			<li class="eventIndex"><%= image_tag event.image.url(:small), :class => "eventHome"%><br>
			<%= link_to event.name, event_path(event) %><br>
			<%= event.category %><br></li>
		<%end %>
	</ul>
</div>