<h1>Edit Your WeMeet Event</h1>

<%= form_for @event, html: { multipart: true } do |f| %>
  <% if @event.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.file_field :image %>
  <div class="field">
    <%= f.label :name, "What's the name of your WeMeet?" %> <br /> 
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location, "Where will your WeMeet be held?" %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :time,  "What time will your WeMeet be held?" %>
    <%= f.datetime_field :time %>
  </div>
  <div class="field">
    <%= f.label :description,  "Describe who should join and what your WeMeet is" %>
    <%= f.text_field :description %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>


<%= link_to 'Back', events_path %>
