 <h1>Welcome to WeMeet!</h1>
 
 <p>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.location %></td>
        <td><%= event.time.strftime('%A, %d %b %Y %l:%M %p') %></td>
        <td><%= event.description %></td>
        <td><%= link_to 'Event', event %></td> <br/> 
      </tr>
    <% end %>

</p>




