
<div class="eventForm">
<div class= "signUpHeader"><h1>Create a New WeMeet Event</h1></div> 
<div class="eventAForm"> 
<%=flash[:upload_image_notice]%>
<%= form_for @event, html: { multipart: true } do |f| %>
  <% if @event.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field"> 
  <%= f.label :image, "Upload WeMeet Event Picture" %> </br>
  <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :name, "What's the name of your WeMeet?" %> </br>
    <%= f.text_field :name, required: 'true'  %>
  </div>
  <div class="field">
    <%= f.label :category, "What kind of WeMeet?" %> </br>
    <%= f.select :category, options_for_select(["Find Type","Tech", "Food & Drink", "Fitness", "Art"]), required: 'true' %>
  </div>

  <div class="field">
    <%= f.label :location, "Where will your WeMeet be held?" %> </br>
    <%= f.text_field :location, required: 'true'  %>
  </div>
  <div class="field">
    <%= f.label :time,  "What time will your WeMeet be held?" %> </br>
    <%= f.datetime_field :time, required: 'true'  %>
  </div>
  <div class="field">
    <%= f.label :description,  "Describe who should join and what your WeMeet is" %> </br>
    <%= f.text_area :description, :rows=>5, :cols=>30, required: 'true'  %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>

</br> 
<strong><%= button_to 'Back', events_path %></strong>
</div>
</dv>